
 <div class="col-4">
    <app-bsrcombobox [labelHijo]="'TFBUSCAR-1'"></app-bsrcombobox>
</div>

 <div class="col-4">
    <app-bsrcombobox [labelHijo]="'PETIOFI-1'"></app-bsrcombobox>
</div>

 <app-bsrbutton (clickBoton)="clickBoton($event)" [nombreButton]="'NA-PRIS1-1'" [idButton]="buttonMovimientos" [tipoBoton]="'primario'"></app-bsrbutton>

 <app-bsrbutton (clickBoton)="clickBoton($event)" [nombreButton]="'NA-BUS-1'" [idButton]="buttonMovimientos" [tipoBoton]="'primario'"></app-bsrbutton>

 <app-bsrbutton (clickBoton)="clickBoton($event)" [nombreButton]="'NA-DET-1'" [idButton]="buttonMovimientos" [tipoBoton]="'primario'"></app-bsrbutton>

 <app-bsrbutton (clickBoton)="clickBoton($event)" [nombreButton]="'NA-ADD-1'" [idButton]="buttonMovimientos" [tipoBoton]="'primario'"></app-bsrbutton>

 <app-bsrbutton (clickBoton)="clickBoton($event)" [nombreButton]="'NA-MOD-1'" [idButton]="buttonMovimientos" [tipoBoton]="'primario'"></app-bsrbutton>

 <app-bsrbutton (clickBoton)="clickBoton($event)" [nombreButton]="'NA-DES-1'" [idButton]="buttonMovimientos" [tipoBoton]="'primario'"></app-bsrbutton>

 <app-bsrbutton (clickBoton)="clickBoton($event)" [nombreButton]="'NA-CER-1'" [idButton]="buttonMovimientos" [tipoBoton]="'primario'"></app-bsrbutton>

 <app-bsrbutton (clickBoton)="clickBoton($event)" [nombreButton]="'NA-ABA-1'" [idButton]="buttonMovimientos" [tipoBoton]="'primario'"></app-bsrbutton>

 <app-bsrbutton (clickBoton)="clickBoton($event)" [nombreButton]="'NA-ACE-1'" [idButton]="buttonMovimientos" [tipoBoton]="'primario'"></app-bsrbutton>
