
 <div class="col-4">
    <app-bsrcombobox [labelHijo]="'PECALPA-1'"></app-bsrcombobox>
</div>

 <app-bsrbutton (clickBoton)="clickBoton($event)" [nombreButton]="'NA-BUSCAR-1'" [idButton]="buttonMovimientos" [tipoBoton]="'primario'"></app-bsrbutton>

 <app-bsrbutton (clickBoton)="clickBoton($event)" [nombreButton]="'NA-CONTRATO-1'" [idButton]="buttonMovimientos" [tipoBoton]="'primario'"></app-bsrbutton>

 <app-bsrbutton (clickBoton)="clickBoton($event)" [nombreButton]="'NA-RELACION-1'" [idButton]="buttonMovimientos" [tipoBoton]="'primario'"></app-bsrbutton>

 <app-bsrbutton (clickBoton)="clickBoton($event)" [nombreButton]="'NA-CERRAR-1'" [idButton]="buttonMovimientos" [tipoBoton]="'primario'"></app-bsrbutton>

 <app-bsrbutton (clickBoton)="clickBoton($event)" [nombreButton]="'NA-ABANDONAR-1'" [idButton]="buttonMovimientos" [tipoBoton]="'primario'"></app-bsrbutton>

 <app-bsrbutton (clickBoton)="clickBoton($event)" [nombreButton]="'NA-ACEPTAR-1'" [idButton]="buttonMovimientos" [tipoBoton]="'primario'"></app-bsrbutton>
